<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<body>
		<!--md-toolbar layout="row" layout-align="start center">
   <h1>{{title}}</h1>
  </md-toolbar-->

		<div class="header">
			<div class="header-logo"><img src="taskbountylogo.png"/></div>
			<div class="header-actions">
				<ul>
					<li class="accent-background submit-btn" ng-click="about.close()"><img src="closebtn.png"/></li>
				</ul>
			</div>
		</div>

		<div class="popup-contents">
			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">About TaskBounty</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<p class="vision">
						Vision: <span>An empowered &amp; employed populace</span>
					</p>
					<p class="tagline-descr">
						Ever had a problem where your 311 request to the city is denied or not fulfilled in a timely manner? Wish you or your fellow neighbors could hire a subcontractor to just go ahead and fix it? This tool would let you do just that. You can also view existing tasks and top up the bounties for issues you care about.
					</p>
				</md-card-content>
			</md-card>
		</div>
	</body>
</j:jelly>
